.flexRow--wrapper-topbar {
  background-color: #008F8E;
}

.flexRowContent--wrapper-topbar {
  max-width: 1050px;
  margin: auto;
}

.flexRowContent--wrapper-topbar .stretchChildrenWidth {
  width: auto !important;
}

.flexRowContent--wrapper-topbar {
  justify-content: center;
}

.flexRowContent--wrapper-topbar .flexCol {
  margin-right: 3rem;
  margin-left: 3rem;
}

