.wrapper--sticky-header {
  background-color: #00AAA6;
}

.wrapper--sticky-header--stuck :global(.vtex-flex-layout-0-x-flexRow--main-header) {
  background-color: #00AAA6 !important;
  padding: 0rem 2rem 0px !important;
}
