.label {
  color: #fff;
  text-transform: initial;
  padding: 0;
  position: relative;
  width: 60%;
  text-align: left;
  line-height: 1.2;
}

.label::before {
  content: '';
  width: 33px;
  height: 33px;
  position: absolute;
  left: -2.4rem;
  top: 0rem;
  background-image: url(assets/imgs/header/login-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container :global(.vtex-button:hover),
.container :global(.vtex-button:focus) {
  background-color: unset;
}

.accessCodeOptionBtn :global(.vtex-button) {
  background-color: #00AAA6;
  color: #fff;
  border: unset;
}

.emailPasswordOptionBtn :global(.vtex-button) {
  background-color: #AB3E00;
  color: #fff;
  border: unset;
}
