/* Mosaico Principal */

/* .flexCol--mosaico-principal-left .flexColChild--mosaico-principal-left {
  position: relative;
  cursor: pointer;
}

.flexCol--mosaico-principal-left .flexColChild--mosaico-principal-left::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/assets/vtex/assets-builder/propetz.store-theme-propetz/2.0.11/imgs/slider/banner-maquina___7a8e060….jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: visibility 100ms;
}

.flexCol--mosaico-principal-left .flexColChild--mosaico-principal-left:hover::after {
  visibility: hidden;
}

.flexCol--mosaico-principal-right .flexColChild--mosaico-principal-right:first-child {
  position: relative;
  cursor: pointer;
}

.flexCol--mosaico-principal-right .flexColChild--mosaico-principal-right:first-child::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/assets/vtex/assets-builder/propetz.store-theme-propetz/2.0.11/imgs/slider/banner-kit___7a8e060….jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: visibility 100ms;
}

.flexCol--mosaico-principal-right .flexColChild--mosaico-principal-right:first-child:hover::after {
  visibility: hidden;
}

.flexCol--mosaico-principal-right .flexColChild--mosaico-principal-right:last-child {
  position: relative;
  cursor: pointer;
}

.flexCol--mosaico-principal-right .flexColChild--mosaico-principal-right:last-child::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/assets/vtex/assets-builder/propetz.store-theme-propetz/2.0.11/imgs/slider/banner-lamina___7a8e060….jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: visibility 100ms;
}

.flexCol--mosaico-principal-right .flexColChild--mosaico-principal-right:last-child:hover::after {
  visibility: hidden;
} */


/* Mosaico Topo */

.flexCol--imagem-mosaico-left .flexColChild--imagem-mosaico-left:first-child {
  position: relative;
  cursor: pointer;
}

.flexCol--imagem-mosaico-left .flexColChild--imagem-mosaico-left:first-child::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/assets/vtex/assets-builder/dcorp.store-theme-propetz/1.0.0/imgs/mosaico-propetz/mosaico-pop___7a8e060….jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: visibility 100ms;
}

.flexCol--imagem-mosaico-left .flexColChild--imagem-mosaico-left:first-child:hover::after {
  visibility: hidden;
}

.flexCol--imagem-mosaico-left .flexColChild--imagem-mosaico-left:last-child {
  position: relative;
  cursor: pointer;
}

.flexCol--imagem-mosaico-left .flexColChild--imagem-mosaico-left:last-child::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/assets/vtex/assets-builder/dcorp.store-theme-propetz/1.0.0/imgs/mosaico-propetz/mosaico-premium___7a8e060….jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: visibility 100ms;
}

.flexCol--imagem-mosaico-left .flexColChild--imagem-mosaico-left:last-child:hover::after {
  visibility: hidden;
}

.flexCol--mosaico-right-wrapper .flexColChild--mosaico-right-wrapper:first-child {
  position: relative;
  cursor: pointer;
}

.flexCol--mosaico-right-wrapper .flexColChild--mosaico-right-wrapper:first-child::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/assets/vtex/assets-builder/dcorp.store-theme-propetz/1.0.0/imgs/mosaico-propetz/mosaico-x___7a8e060….jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: visibility 100ms;
}

.flexCol--mosaico-right-wrapper .flexColChild--mosaico-right-wrapper:first-child:hover::after {
  visibility: hidden;
}

.flexCol--mosaico-right-wrapper .flexColChild--mosaico-right-wrapper:last-child {
  position: relative;
  cursor: pointer;
}

.flexCol--mosaico-right-wrapper .flexColChild--mosaico-right-wrapper:last-child::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/assets/vtex/assets-builder/dcorp.store-theme-propetz/1.0.0/imgs/mosaico-propetz/mosaico-akemi___7a8e060….jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: visibility 100ms;
}

.flexCol--mosaico-right-wrapper .flexColChild--mosaico-right-wrapper:last-child:hover::after {
  visibility: hidden;
}

.flexColChild--imagem-mosaico-left-m3 {
  padding-right: 2px;
}

.flexColChild--imagem-mosaico-left-m3 :global(.vtex-store-components-3-x-imageElement) {
  height: 100%;
}

.flexCol--imagem-mosaico-right-m3 :global(.vtex-store-components-3-x-imageElement) {
  height: 100%;
}

.flexRowContent--lh-0 {
  line-height: 0;
}

.flexRowContent--mosaico-meio-modelo4e5-mobi {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 575px) {
  .flexCol--mosaico-right-wrapper .flexColChild--mosaico-right-wrapper:last-child::after,
  .flexCol--mosaico-right-wrapper .flexColChild--mosaico-right-wrapper:first-child::after,
  .flexCol--imagem-mosaico-left .flexColChild--imagem-mosaico-left:last-child::after,
  .flexCol--imagem-mosaico-left .flexColChild--imagem-mosaico-left:first-child::after,
  .flexCol--mosaico-principal-right .flexColChild--mosaico-principal-right:last-child::after,
  .flexCol--mosaico-principal-right .flexColChild--mosaico-principal-right:first-child::after,
  .flexCol--mosaico-principal-left .flexColChild--mosaico-principal-left::after {
    display: none;
  }

  .flexColChild--imagem-mosaico-left :global(.vtex-store-components-3-x-imageElement),
  .flexColChild--mosaico-right-wrapper :global(.vtex-store-components-3-x-imageElement) {
    height: auto;
  }

  .flexColChild--imagem-mosaico-left-m3 :global(.vtex-store-components-3-x-imageElement) {
    height: auto;
  }

  .flexCol--imagem-mosaico-right-m3 :global(.vtex-store-components-3-x-imageElement) {
    height: auto;
  }

}
