.imageElement--pop-efeito {
  position: relative;
}

.imageElement--image-mosaico-modelo4,
.imageElement--w100-hauto-obfc {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.imageElement--left-mosaico-novo,
.imageElement--right-mosaico-novo {
  height: 100%;
  width: 100%;
}

@media (max-width: 575px) {
  .imageElement--left-mosaico-novo,
  .imageElement--right-mosaico-novo {
  height: auto;
}
}