@media (max-width: 428px) {
  .sidebarContainer {
    color: #fff;
  }

  .sidebarHeader {
    justify-content: end;
    padding-right: 0;
    color: #fff;
    position: relative;
  }

  .sidebarHeader .closeIcon {
    color: #fff;
    width: 17px;
    position: relative;
  }

  .sidebarHeader::after {
    content: '';
    width: 251px;
    height: 36px;
    position: absolute;
    left: 0rem;
    top: 1rem;
    background-image: url(https://propetz.vtexassets.com/assets/vtex/assets-builder/propetz.store/1.0.0/imgs/header/logo-propetz___31f4cd5….svg);
    background-repeat: no-repeat;
    background-size: 80%;
  }

  .sidebarItemContainer .plusIcon,
  .sidebarItemContainer .minusIcon {
    color: #fff;
    width: 10px;
  }

  .sidebarContainer .sidebarScrim {
    background-color: #000;
  }
}
